{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1 class="{% if not is_granted('ROLE_ADMIN') %}mb-4{% endif %}">Blog</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-2 float-right">
                {% block top_right_buttons %}
                    {% include "base/buttons/entity_create_button.html.twig" with {'entityName': entityName} %}
                {% endblock %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="accordion border border-blood" id="blogAccordion">
            {% for post in blogPosts %}
                {% set id = post.id %}
                <div class="card">
                    <div class="card-header bg-blood text-white" id="heading-{{ id }}" type="button" data-toggle="collapse" data-target="#collapse-{{ id }}" aria-expanded="false" aria-controls="collapse-{{ id }}">
                        <h3 class="d-inline text-white">
                            {{ post.name }}
                        </h3>
                        <div class="d-inline float-right">
                            {{ post.author.username }} - {{ post.createdAt|date('Y-m-d') }}
                        </div>
                    </div>
                    <div id="collapse-{{ id }}" class="collapse" aria-labelledby="heading-{{ id }}" data-parent="#blogAccordion">
                        <div class="card-body bg-white text-dark">
                            {{ post.description|raw }}

                            <br /><br />

                            {% if post.release %}
                                {% set release = post.release %}

                                {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'release', 'entityId': release.id} %} {{ release }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-12 d-inline-flex">
        <div class="mx-auto">
            {{ knp_pagination_render(blogPosts) }}
        </div>
    </div>
{% endblock %}