{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-9">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': culture} %}

        <p class="mb-4">
            {{ culture.description|raw }}
        </p>
    </div>
    <div class="col-md-3">
        <h5>Pospolite rasy</h5>
        <p class="mb-4">
            {% if culture.commonAncestries is empty %}
                Brak.
            {% else %}
                {% for ancestry in culture.commonAncestries %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'ancestry', 'entityId': ancestry.id} %} {{ ancestry.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <h5>Pospolite klasy</h5>
        <p class="mb-4">
            {% if culture.commonClasses is empty %}
                Brak.
            {% else %}
                {% for class in culture.commonClasses %}
                    {{ class.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <h5>Pospolite pochodzenia</h5>
        <p class="mb-4">
            {% if culture.commonBackgrounds is empty %}
                Brak.
            {% else %}
                {% for background in culture.commonBackgrounds %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'background', 'entityId': background.id} %} {{ background.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <h5>Pospolite języki</h5>
        <p class="mb-4">
            {% if culture.commonLanguages is empty %}
                Brak.
            {% else %}
                {% for language in culture.commonLanguages %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'language', 'entityId': language.id} %} {{ language.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    {% include 'core/feat/entity_display.html.twig' with {'displayTitle': 'Atuty kulturowe', 'entity': culture} %}
{% endblock %}