{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h1>
            {% block form_title %}
                {{ actionName|capitalize }} {{ formattedEntityName }}
            {% endblock %}
        </h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary border border-blood">Save <i class="fas fa-save"></i></button>
            {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
        {{ form(form) }}
    </div>
{% endblock %}
