{% extends "base/base.html.twig" %}
{% block content %}
    <h1>Zdolności rasowe</h1>

    <div class="col-md-12 mb-2 text-right">
        <a href="{{ path('create_ancestral_feature') }}" class="btn btn-outline-success" role="button">Stwórz</a>
    </div>

    <table class="table table-striped bg-light text-center">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Wartość</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for ancestralFeature in ancestralFeatures %}
                <tr>
                    <td class="align-middle">{{ ancestralFeature.name }}</td>
                    <td class="align-middle">{{ ancestralFeature.description }}</td>
                    <td class="align-middle">{{ ancestralFeature.value }}</td>
                    <td class="align-middle">
                        <a href="{{ path('edit_ancestral_feature', {"id":ancestralFeature.id}) }}" class="btn btn-outline-primary" role="button">Edytuj</a>
                        <a href="{{ path('delete_ancestral_feature', {"id":ancestralFeature.id}) }}" class="btn btn-outline-danger" role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
