{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Rasy
{% endblock %}

{% block table_headers %}
    <th class="align-middle">Nazwa</th>
    <th class="align-middle">Punkty zdrowia</th>
    <th class="align-middle">Rozmiar</th>
    <th class="align-middle">Prędkość</th>
    <th class="align-middle">Premie do cech</th>
    <th class="align-middle">Atrybuty</th>
    <th class="align-middle">Kultury</th>
    {% if is_granted('ROLE_ADMIN') %}<th class="align-middle">Wartość</th>{% endif %}
    <th class="align-middle">Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for ancestry in ancestries %}
        {% if is_granted('ROLE_ADMIN') or ancestry.isActive %}
            <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': ancestry} %}">
                <td class="align-middle">{{ ancestry.name }}</td>
                <td class="align-middle">{{ ancestry.hitPoints }}</td>
                <td class="align-middle">{{ ancestry.size }}</td>
                <td class="align-middle">{{ ancestry.speed }}</td>
                <td class="align-middle">
                    {{ ancestry.abilityBoosts|first }} lub {{ ancestry.abilityBoosts|last }}
                </td>
                <td class="align-middle">
                    {% for attribute in ancestry.attributes %}
                        {% include "base/badges/attribute_badge.html.twig" with {'attribute': attribute} %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    {% for culture in ancestry.cultures %}
                        <a href="{{ path('home') }}">{{ culture.name}}</a>

                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="align-middle">{{ ancestry.value }}</td>
                {% endif %}
                <td class="align-middle text-nowrap">
                    {% include "base/buttons/entity_show_button.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                        {% if not ancestry.isActive %}
                            {% include "base/buttons/entity_release_buttons.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                        {% endif %}
                        {% include "base/buttons/entity_delete_buttons.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
