{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12 mb-2">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': ancestry} %}
    </div>

    <div class="col-md-9 pt-2 pb-2">
        <div class="mb-4 text-justify">
            {{ ancestry.description|raw }}
        </div>

        <div class="mb-4">
            <h2>Zdolności rasowe</h2>
            {% if is_granted('ROLE_ADMIN') %}
                {% set ancestralFeatures = ancestry.ancestralFeatures %}
            {% else %}
                {% set ancestralFeatures = ancestry.activeAncestralFeatures %}
            {% endif %}

            {% if ancestralFeatures is empty %}
                Brak
            {% else %}
                {% for feature in ancestralFeatures %}
                    {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="col-md-3 sidebar sidebar-right color-blood text-justify pt-2 pb-2">
        {% if is_granted('ROLE_ADMIN') %}
            <h3>Wartość</h3>
            <p class="mb-4">{{ ancestry.value }}</p>
        {% endif %}

        <h3>Rzadkość</h3>
        <p class="mb-4">
            {{ ancestry.rarity.name }}
        </p>

        <h3>Punkty zdrowia</h3>
        <p class="mb-4">
            {{ ancestry.hitPoints.name }}
        </p>

        <h3>Rozmiar</h3>
        <p class="mb-4">
            {{ ancestry.size.name }}
        </p>

        <h3>Prędkość</h3>
        <p class="mb-4">
            {{ ancestry.speed.name }} stóp
        </p>

        <h3>Premie do cech</h3>
        <p class="mb-4">
            {% if ancestry.abilityBoosts|length == 2 %}
                {{ ancestry.abilityBoosts|first }} lub {{ ancestry.abilityBoosts|last }}
            {% else %}
                Dowolna
            {% endif %}
            <br />
            Dowolna
        </p>

        <h3>Języki</h3>
        <p class="mb-4">
            {{ ancestry.languagesMessage }}
        </p>

        <h3>Atrybuty</h3>
        <p class="mb-4">
            {% if ancestry.attributes is empty %}
                Brak.
            {% else %}
                {% for attribute in ancestry.attributes %}
                    {{ attribute.name}}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <h3>Kultury</h3>
        <p class="mb-4">
            {% if is_granted('ROLE_ADMIN') %}
                {% set cultures = ancestry.cultures %}
            {% else %}
                {% set cultures = ancestry.activeCultures %}
            {% endif %}

            {% if cultures is empty %}
                Brak
            {% else %}
                {% for culture in cultures %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'culture', 'entityId': culture.id} %}
                    {{ culture.name }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <h3>Początkowe atuty rasowe</h3>
        <p class="mb-0">
            Bez dziedzictwa: {{ ancestry.getNumberOfFreeFeats }}
            <br />
            {% for value in ancestry.getHeritageValues %}
                Z dziedzictwem ({{ value|roman }}): {{ ancestry.getNumberOfFreeFeats - value }}

                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </p>
    </div>

    {% if is_granted('ROLE_ADMIN') or ancestry.activeHeritages is not empty %}
        {% include 'ancestry/heritage/entity_display.html.twig' with {'entity': ancestry} %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') or ancestry.activeFeats is not empty %}
        {% include 'core/feat/tabbed_entity_display.html.twig'
            with {
            'displayTitle': 'Atuty rasowe',
            'entityName': 'ancestry',
            'entity': ancestry,
            }
        %}
    {% endif %}
{% endblock %}
