{% extends "base/base.html.twig" %}
{% block content %}
    <div class="col-md-9">
        <h1>
            {{ ancestry.name }}
            <div class="float-right">
                {% if is_granted('ROLE_ADMIN') %}
                    {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                {% endif %}
                {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
            </div>
        </h1>

        <p class="mb-4">
            {{ ancestry.description|raw }}
        </p>

        <h5>Zdolności rasowe</h5>
        {% for feature in ancestry.ancestralFeatures %}
            <p class="mb-4"><b>{{ feature.name }}</b>
                <br>
                {{ feature.description }}
            </p>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość</h5>
            <p class="mb-4">{{ ancestry.value }}</p>
        {% endif %}

        <h5>Punkty zdrowia</h5>
        <p class="mb-4">{{ ancestry.hitPoints.name }}</p>

        <h5>Rozmiar</h5>
        <p class="mb-4">{{ ancestry.size.name }}</p>

        <h5>Prędkość</h5>
        <p class="mb-4">{{ ancestry.speed.name }}</p>

        <h5>Premie do cech</h5>
        <p class="mb-4">
            {{ ancestry.getAbilityBoostNamesAsString|raw }}
            <br />
            Dowolna
        </p>

        <h5>Języki</h5>
        <p class="mb-4">lista kultur</p>

        <h5>Atrybuty</h5>
        <p class="mb-4">{{ ancestry.getAttributesAsString|raw }}</p>

        <h5>Kultury</h5>
        <ul class="list-group bg-dark">
            <li class="list-group-item">1</li>
            <li class="list-group-item">2</li>
        </ul>
        <p class="mb-4">lista kultur</p>
    </div>
{% endblock %}
