{% extends "base/base.html.twig" %}
{% block content %}
    <div class="col-md-9">
        <h1>{{ ancestry.name }}</h1>

        <p class="mb-4">
            {{ ancestry.description|raw }}
        </p>

        <h5>Zdolności rasowe</h5>
        {% for feature in ancestry.ancestralFeatures %}
            <p class="mb-4"><b>{{ feature.name }}</b>
                <br>
                {{ feature.description }}
            </p>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość</h5>
            <p class="mb-4">{{ ancestry.value }}</p>
        {% endif %}

        <h5>Punkty zdrowia</h5>
        <p class="mb-4">{{ ancestry.hitPoints.name }}</p>

        <h5>Rozmiar</h5>
        <p class="mb-4">{{ ancestry.size.name }}</p>

        <h5>Premie do cech</h5>
        <p class="mb-4">{{ ancestry.getAbilityBoostNamesAsString|raw }}<br>Dowolna</p>

        <h5>Opcjonalna kara do cechy</h5>
        <p class="mb-4">{{ ancestry.getAbilityFlawNamesAsString|raw }}</p>

        <h5>Atrybuty</h5>
        <p class="mb-4">{{ ancestry.getTraitsAsString|raw }}</p>
    </div>
    <div class="col-md-12 mb-2 text-left">
        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entityId': ancestry.id} %}
        {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
    </div>
{% endblock %}
