{% extends "base/base.html.twig" %}
{% block content %}
    <div class="col-md-9">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': ancestry} %}

        <p class="mb-4">
            {{ ancestry.description|raw }}
        </p>

        <h3>Zdolności rasowe</h3>
        {% if ancestry.ancestralFeatures is empty %}
            Brak.
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                {% for feature in ancestry.ancestralFeatures %}
                    {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
                {% endfor %}
            {% else %}
                {% for feature in ancestry.activeAncestralFeatures %}
                    {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość</h5>
            <p class="mb-4">{{ ancestry.value }}</p>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość dziedzictwa</h5>
            <p class="mb-4">{{ ancestry.heritageValue }}</p>
        {% endif %}

        <h5>Punkty zdrowia</h5>
        <p class="mb-4">{{ ancestry.hitPoints.name }}</p>

        <h5>Rozmiar</h5>
        <p class="mb-4">{{ ancestry.size.name }}</p>

        <h5>Prędkość</h5>
        <p class="mb-4">{{ ancestry.speed.name }} stóp</p>

        <h5>Premie do cech</h5>
        <p class="mb-4">
            {{ ancestry.abilityBoosts|first }} lub {{ ancestry.abilityBoosts|last }}
            <br />
            Dowolna
        </p>

        <h5>Języki</h5>
        <p class="mb-4">{{ ancestry.languagesMessage }}</p>

        <h5>Atrybuty</h5>
        <p class="mb-4">
            {% if ancestry.attributes is empty %}
                Brak.
            {% else %}
                {% for attribute in ancestry.attributes %}
                    {{ attribute.name}}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <h5>Kultury</h5>
        <p class="mb-4">
            {% if ancestry.cultures is empty %}
                Brak
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% for culture in ancestry.cultures %}
                        {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'culture', 'entityId': culture.id} %} {{ culture.name }}

                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for culture in ancestry.activeCultures %}
                        {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'culture', 'entityId': culture.id} %} {{ culture.name }}

                        {% if not loop.last %}
                            <br />
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </p>
    </div>
    <div class="col-md-12">
        <h3>Dziedzictwa</h3>
    </div>
    {% if ancestry.heritages is not empty %}
        {% if is_granted('ROLE_ADMIN') %}
            {% for heritage in ancestry.heritages %}
                <div class="col-md-6">
                    {% include "ancestry/heritage/entry.html.twig" with {'heritage': heritage} %}
                </div>
            {% endfor %}
        {% else %}
            {% for heritage in ancestry.activeHeritages %}
                <div class="col-md-6">{% include "ancestry/heritage/entry.html.twig" with {'heritage': heritage} %}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div class="col-md-12">
        <h3>Atuty rasowe</h3>
        {% if ancestry.feats is empty %}
            Brak.
        {% endif %}
    </div>
    {% if ancestry.feats is not empty %}
        {% if is_granted('ROLE_ADMIN') %}
            {% for feat in ancestry.feats %}
                {% include "core/feat/entry.html.twig" with {'feat': feat} %}
            {% endfor %}
        {% else %}
            {% for feat in ancestry.activeFeats %}
                {% include "core/feat/entry.html.twig" with {'feat': feat} %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
