{% extends "base/base.html.twig" %}
{% block content %}
    <div class="col-md-9">
        <div class="mb-4">
            <h1>
                {{ ancestry.name }}
                <div class="float-right">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': ancestry} %}
                    {% endif %}
                    {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
                </div>
            </h1>
            {% include "base/utilities/entity_release_note.html.twig" with {'entity': ancestry} %}
        </div>

        <p class="mb-4">
            {{ ancestry.description|raw }}
        </p>

        <h5>Zdolności rasowe</h5>
        {% if ancestry.ancestralFeatures is empty %}
            Brak.
        {% endif %}
        {% for feature in ancestry.ancestralFeatures %}
            <p class="mb-4"><b>{{ feature.name }}</b>
                <br />
                {{ feature.description }}
            </p>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość</h5>
            <p class="mb-4">{{ ancestry.value }}</p>
        {% endif %}

        <h5>Punkty zdrowia</h5>
        <p class="mb-4">{{ ancestry.hitPoints.name }}</p>

        <h5>Rozmiar</h5>
        <p class="mb-4">{{ ancestry.size.name }}</p>

        <h5>Prędkość</h5>
        <p class="mb-4">{{ ancestry.speed.name }} stóp</p>

        <h5>Premie do cech</h5>
        <p class="mb-4">
            {{ ancestry.abilityBoosts|first }} lub {{ ancestry.abilityBoosts|last }}
            <br />
            Dowolna
        </p>

        <h5>Języki</h5>
        <p class="mb-4">{{ ancestry.languagesMessage }}</p>

        <h5>Atrybuty</h5>
        <p class="mb-4">
            {% for attribute in ancestry.attributes %}
                {{ attribute.name}}

                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </p>

        <h5>Kultury</h5>
        <p class="mb-4">
            {% for culture in ancestry.cultures %}
                <a href="{{ path('home') }}">{{ culture.name}}</a>

                {% if not loop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock %}
