<div class="mb-4 border border-blood rounded p-1">
    <div class="border-bottom border-blood padding-bottom-5 {% include 'base/components/activeness_bg_class.html.twig' with {'entity': heritage} %}" style="width:100%;">
        <h4>
            {{ heritage.name|upper }}
            <span class="float-right">
                DZIEDZICTWO ({{ heritage.value|roman }})
                {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'heritage', 'entityId': heritage.id} %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% include "base/badges/entity_display_edit_badge.html.twig"
                        with
                        {
                            'baseEntityName': entityName,
                            'subEntityName': 'heritage',
                            'baseEntity': entity,
                            'subEntity': heritage,
                        }
                    %}
                    {% include "base/badges/entity_release_badge.html.twig" with {'entityName': 'heritage', 'entity': heritage} %}
                {% endif %}
            </span>
        </h4>
    </div>
    <div>
        <a class="badge badge-primary border border-blood text-white">{{ heritage.rarity.name|neuter }}</a>
        {% for attribute in heritage.attributes %}
            {% include "base/badges/attribute_badge.html.twig" with {'attribute': attribute} %}
        {% endfor %}
    </div>
    {% if heritage.hitPoints or heritage.size or heritage.speed or heritage.abilityBoosts is not empty %}
        <div class="border-bottom border-white">
            {% if heritage.hitPoints and heritage.hitPoints.name != heritage.ancestry.hitPoints.name %}
                <div>
                    <b>Punkty zdrowia:</b> {{ heritage.hitPoints }}
                </div>
            {% endif %}
            {% if heritage.size and heritage.size.name != heritage.ancestry.size.name %}
                <div>
                    <b>Rozmiar:</b> {{ heritage.size }}
                </div>
            {% endif %}
            {% if heritage.speed and heritage.speed.name != heritage.ancestry.speed.name %}
                <div>
                    <b>Prędkość:</b> {{ heritage.speed }}
                </div>
            {% endif %}
            {% if heritage.abilityBoosts|length == 2 %}
                <div>
                    <b>Premie do cech:</b> {{ heritage.abilityBoosts|first }} lub {{ heritage.abilityBoosts|last }}, dowolna
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="mb-2">
        {{ heritage.shortDescription|raw }}
    </div>
    <div>
        {{ heritage.getFeaturesNote }}
    </div>
</div>
