<div class="mb-4">
    <div class="border-bottom border-white" style="width:100%;">
        <h5>
            {{ heritage.name|upper }}
            <span class="float-right">
                DZIEDZICTWO
                {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'heritage', 'entityId': heritage.id} %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% include "base/badges/entity_edit_badge.html.twig" with {'entityName': 'heritage', 'entityId': heritage.id} %}
                    {% if heritage.value != heritage.ancestry.heritageValue %}
                        {% include 'base/badges/warning_badge.html.twig' %}
                    {% endif %}
                {% endif %}
            </span>
        </h5>
    </div>
    <div>
        <span class="badge badge-primary border border-white">{{ heritage.rarity.name|neuter }}</span>
        {% for attribute in heritage.attributes %}
            {% include "base/badges/attribute_badge.html.twig" with {'attribute': attribute} %}
        {% endfor %}
    </div>
    {% if heritage.hitPoints or heritage.size or heritage.speed or heritage.abilityBoosts is not empty %}
        <div class="border-bottom border-white">
            {% if heritage.hitPoints %}
                <div>
                    <b>Punkty zdrowia:</b> {{ heritage.hitPoints }}
                </div>
            {% endif %}
            {% if heritage.size %}
                <div>
                    <b>Rozmiar:</b> {{ heritage.size }}
                </div>
            {% endif %}
            {% if heritage.speed %}
                <div>
                    <b>Prędkość:</b> {{ heritage.speed }}
                </div>
            {% endif %}
            {% if heritage.abilityBoosts|length == 2 %}
                <div>
                    <b>Premie do cech:</b> {{ heritage.abilityBoosts|first }} lub {{ heritage.abilityBoosts|last }}, Dowolna
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="mb-2">
        {{ heritage.shortDescription }}
    </div>
    <div class="mb-2">
        {{ heritage.getFeaturesNote }}
    </div>
</div>
