{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12 mb-2">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': heritage} %}
    </div>

    <div class="col-md-9 pt-2 pb-2">
        <div class="mb-4 text-justify">
            {{ heritage.description|raw }}
        </div>

        <div class="mb-4">
            <h2>Zdolności dziedzictwa</h2>
            {% if is_granted('ROLE_ADMIN') %}
                {% set ancestralFeatures = heritage.ancestralFeatures %}
            {% else %}
                {% set ancestralFeatures = heritage.activeAncestralFeatures %}
            {% endif %}

            {% if ancestralFeatures is empty %}
                Brak
            {% else %}
                {% for feature in ancestralFeatures %}
                    {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="col-md-3 sidebar sidebar-right color-blood text-justify pt-2 pb-2">
        {% if is_granted('ROLE_ADMIN') %}
            <h3>Wartość</h3>
            <p class="mb-4">
                {{ heritage.value }}
            </p>

            {% if heritage.valueAdjustment %}
                <h3>Korekta wartości</h3>
                <p class="mb-4">
                    {{ heritage.valueAdjustment }}
                </p>
            {% endif %}
        {% endif %}

        <h3>Rasa</h3>
        <p class="mb-4">
            {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'ancestry', 'entityId': heritage.ancestry.id} %}
            <span class="{% include 'base/components/activeness_text_class.html.twig' with {'entity': heritage.ancestry} %}">
                {{ heritage.ancestry.name }}
            </span>
        </p>

        <h3>Rzadkość</h3>
        <p class="mb-4">
            {{ heritage.rarity.name }}
        </p>

        <h3>Punkty zdrowia</h3>
        <p class="mb-4">
            {% if heritage.hitPoints %}
                {{ heritage.hitPoints.name }}
            {% else %}
                {{ heritage.ancestry.hitPoints.name }}
            {% endif %}
        </p>

        <h3>Rozmiar</h3>
        <p class="mb-4">
            {% if heritage.size %}
                {{ heritage.size.name }}
            {% else %}
                {{ heritage.ancestry.size.name }}
            {% endif %}
        </p>

        <h3>Prędkość</h3>
        <p class="mb-4">
            {% if heritage.speed %}
                {{ heritage.speed.name }} stóp
            {% else %}
                {{ heritage.ancestry.speed.name }} stóp
            {% endif %}
        </p>

        <h3>Premie do cech</h3>
        <p class="mb-4">
            {% if heritage.abilityBoosts|length == 2 %}
                {{ heritage.abilityBoosts|first }} lub {{ heritage.abilityBoosts|last }}
            {% else %}
                {% if heritage.ancestry.abilityBoosts|length == 2 %}
                    {{ heritage.ancestry.abilityBoosts|first }} lub {{ heritage.ancestry.abilityBoosts|last }}
                {% else %}
                    Dowolna
                {% endif %}
            {% endif %}
            <br />
            Dowolna
        </p>

        <h3>Atrybuty</h3>
        <p class="mb-0">
            {% if heritage.attributes is empty %}
                Brak.
            {% else %}
                {% for attribute in heritage.attributes %}
                    {{ attribute.name}}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    {% include "core/feat/tabbed_entity_display.html.twig"
        with {
        'displayTitle': 'Atuty dziedzictwa',
        'entityName': 'heritage',
        'entity': heritage,
        }
    %}
{% endblock %}