{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-9">
        {% include "base/utilities/entity_show_header.html.twig" with {'entity': heritage} %}

        <p class="mb-4">
            {{ heritage.description|raw }}
        </p>

        <h3>Zdolności dziedzictwa</h3>
        {% if is_granted('ROLE_ADMIN') %}
            {% set ancestralFeatures = heritage.ancestralFeatures %}
        {% else %}
            {% set ancestralFeatures = heritage.activeCncestralFeatures %}
        {% endif %}

        {% if ancestralFeatures is empty %}
            Brak
        {% else %}
            {% for feature in ancestralFeatures %}
                {% include 'ancestry/feature/entry.html.twig' with {'feature': feature} %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if is_granted('ROLE_ADMIN') %}
            <h5>Wartość</h5>
            <p class="mb-4">
                {{ heritage.value }}
            </p>
        {% endif %}

        <h5>Rasa</h5>
        <p class="mb-4">
            {% include "base/badges/entity_show_badge.html.twig" with {'entityName': 'ancestry', 'entityId': heritage.ancestry.id} %}
            {{ heritage.ancestry.name }}
        </p>

        <h5>Rzadkość</h5>
        <p class="mb-4">
            {{ heritage.rarity.name }}
        </p>

        <h5>Punkty zdrowia</h5>
        <p class="mb-4">
            {% if heritage.hitPoints %}
                {{ heritage.hitPoints.name }}
            {% else %}
                {{ heritage.ancestry.hitPoints.name }}
            {% endif %}
        </p>

        <h5>Rozmiar</h5>
        <p class="mb-4">
            {% if heritage.size %}
                {{ heritage.size.name }}
            {% else %}
                {{ heritage.ancestry.size.name }}
            {% endif %}
        </p>

        <h5>Prędkość</h5>
        <p class="mb-4">
            {% if heritage.speed %}
                {{ heritage.speed.name }} stóp
            {% else %}
                {{ heritage.ancestry.speed.name }} stóp
            {% endif %}
        </p>

        <h5>Premie do cech</h5>
        <p class="mb-4">
            {% if heritage.abilityBoosts|length == 2 %}
                {{ heritage.abilityBoosts|first }} lub {{ heritage.abilityBoosts|last }}
            {% else %}
                {% if heritage.ancestry.abilityBoosts|length == 2 %}
                    {{ heritage.ancestry.abilityBoosts|first }} lub {{ heritage.ancestry.abilityBoosts|last }}
                {% else %}
                    Dowolna
                {% endif %}
            {% endif %}
            <br />
            Dowolna
        </p>

        <h5>Atrybuty</h5>
        <p class="mb-4">
            {% if heritage.attributes is empty %}
                Brak.
            {% else %}
                {% for attribute in heritage.attributes %}
                    {{ attribute.name}}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    {% include 'core/feat/entity_display.html.twig' with {'displayTitle': 'Atuty dziedzictwa', 'entity': heritage} %}
{% endblock %}