{% extends "base/base.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="mb-5">
            <h1>
                {{ release.name }} ({{ release.contentVersion }})
                <div class="float-right">
                    {% include "base/buttons/entity_edit_button.html.twig" with {'entityName': entityName, 'entity': release} %}
                    {% include "base/buttons/entity_list_button.html.twig" with {'entityName': entityName} %}
                </div>
            </h1>
            Wydanie z dnia {{ release.createdAt|date('Y-m-d') }}
        </div>
        {% if release.contentChanges %}
            <div class="mb-4">
                <h3>Zmiany zawartości:</h3>
                {{ release.contentChanges|raw }}
            </div>
        {% endif %}
        <h3>Wydana zawartość:</h3>
    </div>

    {% if release.isLaunched %}
        {% for entityType, entityNameArray in release.getContentReleased %}
            <div class="col-md-4 mb-4">
                <h5>{{ entityType|releaseKey }}</h5>
                {% for entityId, entityName in entityNameArray %}
                    {% include "base/badges/entity_show_badge.html.twig" with {'entityName': entityType, "entityId": entityId} %} {{ entityName }}

                    {% if not loop.last %}
                        <br />
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% include 'core/release/content_array_display.html.twig' %}
    {% endif %}
{% endblock %}