{% extends "base/base.html.twig" %}
{% block content %}
    <h1>Atrybuty</h1>

    <div class="col-md-12 mb-2 text-right">
        <a href="{{ path('create_core_trait') }}" class="btn btn-outline-success" role="button">Stwórz</a>
    </div>

    <table class="table table-striped bg-light text-nowrap text-center">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for trait in traits %}
                <tr>
                    <td>{{ trait.name }}</td>
                    <td>{{ trait.category.name }}</td>
                    <td>
                        <a href="{{ path('edit_core_trait', {"id": trait.id}) }}" class="btn btn-outline-primary" role="button">Edytuj</a>
                        <a href="{{ path('delete_core_trait', {"id": trait.id}) }}" class="btn btn-outline-danger" role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
