{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Pochodzenia
{% endblock %}

{% block table_headers %}
    <th class="align-middle">Nazwa</th>
    <th class="align-middle">Premie do cech</th>
    <th class="align-middle">Umiejętność</th>
    <th class="align-middle">Dziedzina wiedzy</th>
    <th class="align-middle">Atut</th>
{% endblock %}

{% block table_rows %}
    {% for background in backgrounds %}
        {% if isAdmin or background.isActive %}
            <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': background} %}">
                <td class="align-middle">{{ background.name }}</td>
                <td class="align-middle">
                    {{ background.abilityBoosts|first }} lub {{ background.abilityBoosts|last }}
                </td>
                <td class="align-middle">
                    {% if background.trainedSkill %}{{ background.trainedSkill.name }}{% endif %}
                </td>
                <td class="align-middle">
                    {% if background.trainedLore %}{{ background.trainedLore.name }}{% endif %}
                </td>
                <td class="align-middle">
                    {% if background.feat %}{{ background.feat.name }}{% endif %}
                </td>
                <td class="align-middle text-nowrap">
                    {% include "base/buttons/entity_show_button.html.twig" with {'entityName': entityName, 'entity': background} %}
                    {% if isAdmin %}
                        {% include "base/buttons/entity_list_edit_button.html.twig" with {'entityName': entityName, 'entity': background} %}
                        {% if not background.isActive %}
                            {% include "base/buttons/entity_release_buttons.html.twig" with {'entityName': entityName, 'entity': background} %}
                        {% endif %}
                        {% include "base/buttons/entity_delete_buttons.html.twig" with {'entityName': entityName, 'entity': background} %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
