{% extends "base/base.html.twig" %}
{% block content %}
    <h1>Weapon Properties</h1>

    <div class="col-md-12 mb-2 text-right">
        <a href="{{ path('create_weapon_property') }}" class="btn btn-outline-success" role="button">New</a>
    </div>

    <table class="table table-striped bg-light text-nowrap text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for weaponProperty in weaponProperties %}
                <tr>
                    <td>{{ weaponProperty.name }}</td>
                    <td>{{ weaponProperty.description }}</td>
                    <td>{{ weaponProperty.value }}</td>
                    <td>
                        <a href="{{ path('edit_weapon_property', {"id":weaponProperty.id}) }}" class="btn btn-outline-primary" role="button">Edit</a>
                        <a href="{{ path('delete_weapon_property', {"id":weaponProperty.id}) }}" class="btn btn-outline-danger" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
