<nav class="navbar fixed-top navbar-dark bg-danger navbar-expand-md border-bottom border-white">
    <a href="{{ path('home') }}" class="navbar-brand"><i class="fas fa-dice-d20"></i> Sigmaria</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container-fluid" id="mainmenu">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link {% if navTab is defined and navTab == constant('App\\Controller\\Core\\CoreController::NAV_TAB_HOME') %}active{% endif %}">
                    <i class="fas fa-home"></i> Strona główna
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Core\\CoreController::NAV_TAB_RULES') %}active{% endif %}" href="#" data-toggle="dropdown"><i class="fas fa-book-open"></i> Zasady</a>
                <div class="dropdown-menu">
                    <a href="{{ path('list_ancestries') }}" class="dropdown-item">Rasy</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('list_ancestries') }}" class="dropdown-item">Atuty</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Core\\CoreController::NAV_TAB_CAMPAIGN') %}active{% endif %}" href="#" data-toggle="dropdown" role="button" id="quests-btn"><i class="fas fa-flag"></i> Kampanie</a>

                <div class="dropdown-menu">
                    <a href="/" class="quest-location dropdown-item">Kedernas</a>
                    <div class="dropdown-divider"></div>
                    <a href="/" class="quest-location dropdown-item">Draxanar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled {% if navTab is defined and navTab == constant('App\\Controller\\Core\\CoreController::NAV_TAB_SETTING') %}active{% endif %}" href="#"><i class="fas fa-globe"></i> Świat</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Core\\CoreController::NAV_TAB_ADMIN') %}active{% endif %}" href="#" data-toggle="dropdown" role="button"><i class="fas fa-tools"></i> Admin</a>
                <div class="dropdown-menu">
                    <a href="{{ path('list_users') }}" class="quest-location dropdown-item">Użytkownicy</a>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Core Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('list_core_traits') }}" class="dropdown-item">Atrybuty</a></li>
                        <li><a href="{{ path('list_feats') }}" class="dropdown-item">Atuty</a></li>
                    </ul>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Ancestry Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('list_ancestral_features') }}" class="dropdown-item">Zdolności rasowe</a></li>
                    </ul>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Setting Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('list_ancestral_features') }}" class="dropdown-item">Języki</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_USER') %}
                <li ><span class="navbar-text mr-1">Zalogowany jako {{ app.user.email }}</span></li>
                <li><a class="btn btn-secondary border border-white" href="{{ path('fos_user_security_logout') }}">Wyloguj <i class="fas fa-unlock"></i></a></li>
            {% else %}
                <li><a class="btn btn-secondary border border-white mr-1" href="{{ path('fos_user_security_login') }}">Logowanie <i class="fas fa-lock"></i></a></li>
                <li><a class="btn btn-secondary border border-white" href="{{ path('fos_user_registration_register') }}">Rejestracja <i class="fas fa-user-plus"></i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            const url = window.location.href;
            $("a.dropdown-item").each(function() {
                if(url == (this.href)) {
                    $(this).addClass("active");
                }
            });
            // $("a.nav-link").each(function() {
            //     if(url == (this.href)) {
            //         $(this).addClass("active");
            //     }
            // });
        });

        $( document ).ready( function () {
            $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
                var $el = $( this );
                $el.toggleClass('active-dropdown');
                var $parent = $( this ).offsetParent( ".dropdown-menu" );
                if ( !$( this ).next().hasClass( 'show' ) ) {
                    $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
                }
                var $subMenu = $( this ).next( ".dropdown-menu" );
                $subMenu.toggleClass( 'show' );

                $( this ).parent( "li" ).toggleClass( 'show' );

                $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
                    $( '.dropdown-menu .show' ).removeClass( "show" );
                    $el.removeClass('active-dropdown');
                } );

                if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
                    $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
                }

                return false;
            } );
        } );
    </script>
{% endblock %}