<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-blood border-bottom border-white pf2-nav-font">
    <a href="{{ path('home') }}" class="navbar-brand pf2-nav-brand-font"><i class="fas fa-dungeon"></i> Sigmaria</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_HOME') %}active{% endif %}">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a href="http://vtt.sigmaria.pl:30000/" class="nav-link" target="_blank">
                    <i class="fas fa-dice-d20"></i></i> Foundry VTT
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('blog') }}" class="nav-link {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_BLOG') %}active{% endif %}">
                    <i class="fas fa-newspaper"></i> Blog
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_CAMPAIGN') %}active{% endif %}" href="#" data-toggle="dropdown" role="button" id="quests-btn"><i class="fas fa-flag"></i> Campaigns</a>
                <div class="dropdown-menu">
                    <a href="/" class="quest-location dropdown-item">Kedernas</a>
                    <div class="dropdown-divider"></div>
                    <a href="/" class="quest-location dropdown-item">Draxanar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_RULES') %}active{% endif %}" href="#" data-toggle="dropdown"><i class="fas fa-book"></i> Rules</a>
                <div class="dropdown-menu">
                    <a href="{{ path('character_creation') }}" class="dropdown-item">Character Creation</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('ancestry_list') }}" class="dropdown-item">Ancestries</a>
                    <a href="{{ path('heritage_list') }}" class="dropdown-item">Heritages</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Feats</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('feat_list') }}" class="dropdown-item">Feat List</a></li>
                        <li><a href="{{ path('feat_general_display') }}" class="dropdown-item">General Feats</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_SETTING') %}active{% endif %}" href="#" data-toggle="dropdown"><i class="fas fa-globe-africa"></i> Setting</a>
                <div class="dropdown-menu">
                    <a href="{{ path('setting_keystones') }}" class="dropdown-item">Foundations</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('culture_list') }}" class="dropdown-item">Cultures</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('background_list') }}" class="dropdown-item">Backgrounds</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('language_list') }}" class="dropdown-item">Languages</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('location_list') }}" class="dropdown-item">Locations</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_MISC') %}active{% endif %}" href="#" data-toggle="dropdown"><i class="fas fa-chess-rook"></i> Misc</a>
                <div class="dropdown-menu">
                    <a href="{{ path('release_list') }}" class="quest-location dropdown-item">Releases</a>
                </div>
            </li>
            {% if isAdmin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if navTab is defined and navTab == constant('App\\Controller\\Base\\BaseController::NAV_TAB_ADMIN') %}active{% endif %}" href="#" data-toggle="dropdown" role="button"><i class="fas fa-tools"></i> Admin</a>
                <div class="dropdown-menu">
                    <a href="{{ path('user_list') }}" class="quest-location dropdown-item">Users</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('blog_post_list') }}" class="quest-location dropdown-item">Blog Posts</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('source_list') }}" class="quest-location dropdown-item">Sources</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Core Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('character_creation_step_list') }}" class="dropdown-item">Character Creation Steps</a></li>
                        <li><a href="{{ path('attribute_list') }}" class="dropdown-item">Traits</a></li>
                        <li><a href="{{ path('attribute_category_list') }}" class="dropdown-item">Trait Categories</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Ancestry Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('ancestral_feature_list') }}" class="dropdown-item">Ancestral features</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Setting Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('setting_keystone_list') }}" class="dropdown-item">Setting Foundations</a></li>
                        <li><a href="{{ path('lore_list') }}" class="dropdown-item">Lores</a></li>
                        <li><a href="{{ path('script_list') }}" class="dropdown-item">Scripts</a></li>
                        <li><a href="{{ path('location_type_list') }}" class="dropdown-item">Location Types</a></li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Scripts</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('update_slugs') }}" class="dropdown-item">Update Slugs</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if is_granted('ROLE_USER') %}
                <li ><span class="navbar-text mr-1">Logged in as {{ app.user.username }}</span></li>
                <li><a class="btn btn-secondary border border-white" href="{{ path('fos_user_security_logout') }}">Logout <i class="fas fa-unlock"></i></a></li>
            {% else %}
                <li><a class="btn btn-secondary border border-white mr-1" href="{{ path('fos_user_security_login') }}">Login <i class="fas fa-lock"></i></a></li>
                <li><a class="btn btn-secondary border border-white" href="{{ path('fos_user_registration_register') }}">Register <i class="fas fa-user-plus"></i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            const url = window.location.href;
            $("a.dropdown-item").each(function() {
                if(url == (this.href)) {
                    $(this).addClass("active");
                }
            });
            // $("a.nav-link").each(function() {
            //     if(url == (this.href)) {
            //         $(this).addClass("active");
            //     }
            // });
        });

        $( document ).ready( function () {
            $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
                var $el = $( this );
                $el.toggleClass('active-dropdown');
                var $parent = $( this ).offsetParent( ".dropdown-menu" );
                if ( !$( this ).next().hasClass( 'show' ) ) {
                    $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
                }
                var $subMenu = $( this ).next( ".dropdown-menu" );
                $subMenu.toggleClass( 'show' );

                $( this ).parent( "li" ).toggleClass( 'show' );

                $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
                    $( '.dropdown-menu .show' ).removeClass( "show" );
                    $el.removeClass('active-dropdown');
                } );

                if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
                    $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
                }

                return false;
            } );
        } );
    </script>
{% endblock %}