<nav class="navbar fixed-top navbar-dark bg-success navbar-expand-md">
    <a href="{{ path('home') }}" class="navbar-brand">Sigmaria</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" id="equipment-btn">Equipment</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Weapons</a>
                    <div class="dropdown-menu">
                        <a href="{{ path('list_weapon_groups') }}" class="dropdown-item">(Admin) Weapon Groups</a>
                        <a href="{{ path('list_weapon_damages') }}" class="dropdown-item">(Admin) Weapon Damages</a>
                        <a href="{{ path('list_weapon_properties') }}" class="dropdown-item">(Admin) Weapon Properties</a>
                    </div>
                    <a href="/" class="dropdown-item">Armor</a>
                    <a href="/" class="dropdown-item">Other Equipment</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" id="quests-btn">Quests</a>

                <div class="dropdown-menu">
                    <a href="/" class="quest-location dropdown-item">Kedernas</a>
                    <div class="dropdown-divider"></div>
                    <a href="/" class="quest-location dropdown-item">Draxanar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#">Ancestry</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#">Campaign</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#">Setting</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#">Strongholds</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#">Rules</a>
            </li>
        </ul>
    </div>
</nav>



{% block javascripts %}
    <script>
        $( document ).ready(function() {
            const url = window.location.href;
            $("a.dropdown-item").each(function() {
                if(url == (this.href)) {
                    console.log('nope?');
                    $(this).addClass("active");
                }
            });
        });
    </script>
{% endblock %}