{% extends "base/base_list.html.twig" %}

{% block list_title %}
    Użytkownicy
{% endblock %}

{% block title_classes %}
    mb-5
{% endblock %}

{% block top_right_buttons %}
{% endblock %}

{% block table_headers %}
    <th>Id</th>
    <th>Email</th>
    <th>Akcje</th>
{% endblock %}

{% block table_rows %}
    {% for user in users %}
        <tr class="{% include "base/utilities/inactive_entity_row_classes.html.twig" with {'entity': user} %}">
            <td class="align-middle">{{ user.id }}</td>
            <td class="align-middle">{{ user.email }}</td>
            <td class="align-middle text-nowrap">
                <a href="{{ path('user_roles', {"id": user.id}) }}" class="btn btn-outline-primary" role="button">Uprawnienia <i class="fas fa-user-tag"></i></a>
                {% if user.isActive %}
                    <a href="{{ path("user_disable", {"id": user.id}) }}" class="btn btn-outline-danger" role="button">Dezaktywuj <i class="fas fa-skull"></i></a>
                {% else %}
                    <a href="{{ path("user_enable", {"id": user.id}) }}" class="btn btn-outline-success" role="button">Aktywuj <i class="fas fa-bolt"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
