<div class="col-md-6">
    <div class="border-bottom border-white" style="width:100%;">
        <h3>
            {{ feat.name|upper }} {% if feat.actions %}({{ feat.actions.name }}){% endif %}
            {% if feat.level %}<span class="float-right">ATUT {{ feat.level }}</span>{% endif %}
        </h3>
    </div>
    <div>
        <span class="badge badge-primary border border-white">{{ feat.rarity.name|masculine }}</span>
        {% for attribute in feat.attributes %}
            <span class="badge badge-danger border border-white">{{ attribute.name }}</span>
        {% endfor %}
    </div>
    <div>
        <b>Wymagania.</b> {{ feat.prerequisites }}
    </div>
    <div>
        <b>Częstotliwość.</b> {{ feat.frequency }}
    </div>
    <div>
        <b>Wyzwalacz.</b> {{ feat.trigger }}
    </div>
    <div>
        <b>Warunki.</b> {{ feat.requirements }}
    </div>
    <div class="border-top border-white">
        {{ feat.description|raw }}
    </div>
    <div>
        <b>Właściwość specialna.</b> {{ feat.specialRules }}
    </div>
</div>