<div class="mb-4 border border-white rounded p-1">
    <div class="border-bottom border-white {% include 'base/components/activeness_bg_class.html.twig' with {'entity': feat} %}" style="width:100%;">
        <h5>
            {{ feat.name|upper }} {% if feat.actions %}({{ feat.actions.name }}){% endif %}
            <span class="float-right">
                {% if feat.level %}
                    ATUT {{ feat.level }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% include "base/badges/entity_display_edit_badge.html.twig"
                        with
                        {
                            'baseEntityName': entityName,
                            'subEntityName': 'feat',
                            'baseEntity': entity,
                            'subEntity': feat,
                        }
                    %}
                    {% include "base/badges/entity_release_badge.html.twig" with {'entityName': 'feat', 'entity': feat} %}
                {% endif %}
            </span>
        </h5>
    </div>
    <div>
        <a class="badge badge-primary border border-white">{{ feat.rarity.name|masculine }}</a>
        {% for attribute in feat.attributes %}
            {% include "base/badges/attribute_badge.html.twig" with {'attribute': attribute} %}
        {% endfor %}
    </div>
    {% if feat.prerequisites or feat.frequency or feat.trigger or feat.requirements %}
        <div class="border-bottom border-white">
            {% if feat.prerequisites %}
                <div>
                    <b>Wymagania:</b> {{ feat.prerequisites }}
                </div>
            {% endif %}
            {% if feat.frequency %}
                <div>
                    <b>Częstotliwość:</b> {{ feat.frequency }}
                </div>
            {% endif %}
            {% if feat.trigger %}
                <div>
                    <b>Wyzwalacz:</b> {{ feat.trigger }}
                </div>
            {% endif %}
            {% if feat.requirements %}
                <div>
                    <b>Warunki:</b> {{ feat.requirements }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div>
        {{ feat.description|raw }}
    </div>
    {% if feat.specialRules %}
        <div class="indented">
            <b>Właściwość specialna:</b> {{ feat.specialRules }}
        </div>
    {% endif %}
</div>