<div class="mb-4 border border-blood rounded p-1">
    <div class="border-bottom border-blood padding-bottom-3 {% include 'base/components/activeness_bg_class.html.twig' with {'entity': feat} %}" style="width:100%;">
        <h4>
            {% if feat.isEdit and feat.editParent %}
                <a class="text-warning" href="{{ path(feat.entityName ~ '_show', {'id': feat.editParent.id}) }}">
                    [PARENT]
                </a>
            {% elseif not feat.isEdit and feat.edits %}
                <a class="text-danger" href="{{ path(feat.entityName ~ '_show', {'id': feat.edits.id}) }}">
                    [EDITS]
                </a>
            {% endif %}
            {{ feat.name|upper }} {% if feat.actions %}{% include 'base/actions/display_actions.html.twig' with {actions: feat.actions} %} {% endif %}
            <span class="float-right">
                {% if feat.level %}
                    FEAT {{ feat.level }}
                {% endif %}
                {% if isAdmin %}
                    {% if entity is defined %}
                        {% include "base/badges/entity_display_edit_badge.html.twig"
                            with
                            {
                                'baseEntityName': entityName,
                                'subEntityName': 'feat',
                                'baseEntity': entity,
                                'subEntity': feat,
                            }
                        %}
                    {% else %}
                        {% include "base/badges/entity_edit_badge.html.twig"
                            with
                            {
                                'entityName': 'feat',
                                'entityId': feat.id
                            }
                        %}
                    {% endif %}
                    {% if not feat.isEdit %}
                        {% include "base/badges/entity_release_badge.html.twig" with {'entityName': 'feat', 'entity': feat} %}
                    {% endif %}
                {% endif %}
            </span>
        </h4>
    </div>
    <div>
        <a class="badge badge-primary border border-blood text-white">{{ feat.rarity.name|masculine }}</a>
        {% for attribute in feat.attributes %}
            {% include "base/badges/attribute_badge.html.twig" with {'attribute': attribute} %}
        {% endfor %}
    </div>
    {% if feat.prerequisites or feat.frequency or feat.trigger or feat.requirements %}
        <div class="border-bottom border-blood">
            {% if feat.prerequisites %}
                <div>
                    <b>Prerequisites</b> {{ feat.prerequisites }}
                </div>
            {% endif %}
            {% if feat.frequency %}
                <div>
                    <b>Frequency</b> {{ feat.frequency }}
                </div>
            {% endif %}
            {% if feat.trigger %}
                <div>
                    <b>Trigger</b> {{ feat.trigger }}
                </div>
            {% endif %}
            {% if feat.requirements %}
                <div>
                    <b>Requirements</b> {{ feat.requirements }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div>
        {{ feat.description|raw }}
    </div>
    {% if feat.specialRules %}
        <div class="indented">
            <b>Special</b> {{ feat.specialRules }}
        </div>
    {% endif %}
    {% if feat.note %}
        <div class="indented">
            <b>Note</b> {{ feat.note }}
        </div>
    {% endif %}
    {% include "base/components/entity_source.html.twig" with {'entity': feat} %}
</div>